p
{
    font-size: 17px;
}
h1
{
    font-size: 24px;
    margin: 10px 20px;
}
h2
{
    font-size: 22px;
}
#main_wrapper
{
    min-width: 200px;
    max-width: 600px;
    font-size: 15px;
    position: relative;
}
header
{
    width: 100%;
}
.header
{
    width: 100%;
    margin-bottom: 1%;
    flex-direction: column;
  
}
img#logo1
{
    display: flex;
    width:25%;
    padding-left: 20px;
}
/* Menu de navigation */
nav
{ 
    width: 100%;
    flex-direction: column;
    margin-top: -55px;
}
#navigation
{
    width: 100%;
    
}
/* navigation */
.housing
{
    margin: 20px 0 10px 0;
    border-bottom: 3px solid #0065FC;
    border-top: none;
    width: 50%;
    padding-bottom: 15px;
    text-align: center;
}
/* navigation */
.activities
{
    border-bottom: 3px solid #F2F2F2;
    text-align: center;
    width: 50%;
    margin: 20px 0 10px 0;
    padding-top: 30px;
    display: inline;
}
/* navigation */
.inscription
{
    order: -1;
    justify-content: flex-end;
    margin-right: 20px;
    width: auto;    
}
#introduction
{
    margin : 10px 20px;
}
/*div de la section de recherche*/
#contener_search
{
    width: 90%;
    margin: 30px auto 0 auto;
    position: relative;
}
/*icône de recherche*/
#rechercher
{ 
    width: 55px;
    height: 55px; 
    font-size: 20px;
}
#search
{
    width: 100%;
}
/*Champs de recherche*/
#rechercher1
{
    width: 100%;
}
input::placeholder
{
    font-size: 4.5vw;  
}
/* Bouton de recherche*/
#button
{  
    display: none;
}
#small_button
{
    background-color: #0065FC;
    height: 55px;
    width: 55px;
    border : none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    right: 0;   
}
#search_icone
{
    text-indent: 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    left: 10px;
    top: 18px;
}
/* Div contenant les filtres */
#filter_block
{
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 12px;
}
.textfilters
{
    margin-left: 15px;
    font-size: 4.5vw;
}
.filtre1
{
    border-radius: 30px;
    margin: 0 0;
}
#titlefilter1
{
    font-size: 4.5vw;
}
.filtre2
{
    border-radius: 30px;
    width: 35vw;
}
#titlefilter2
{
    font-size: 4.5vw;
}
#filters1and2
{
    margin-left: 13px;
}
#filters3and4
{
    flex-direction: column;
    margin-left: 13px;
}
.filtre3
{
    border-radius: 30px;
    width: 43vw;
    margin: 20px 0 0 0;
}
#titlefilter3
{
    font-size: 4.5vw;
}
.filtre4
{
    border-radius: 30px;
    width: 57vw;
    margin: 20px 0;
}
#titlefilter4
{
    font-size: 4.5vw;
}
.icones
{
    font-size: 15px;
    width: 11vw;
    height: 11vw;
    margin-left: -2px;
}
/* Div information */
#info
{
    margin: 0 10px;
}
/* icône information */
#i
{
    width: 25px;
    border-radius: 70px;
    height: 20px;
    border: 1.8px #F2F2F2 solid;  
    font-size: 10px; 
    margin-top: 5px;
}
/* paragraphe info */
#p3
{
    margin: 6px 0 10px 10px;
    font-size: 17px; 
}

section
{
    width: 100%;
}
/* div contenant les hébergements les plus populaires + texte */
#populaires
{
    border-radius: 0px;
    width: 100%;  
}
    
/*contener du h2 + icône populaires*/
#popular_header
{

}
#popular_title
{
    margin: 15px 17px 10px 0;
}
#popular_icone
{
    margin: 17px 0 10px 20px;
    font-size: 20px;
}
/* Cartes d'hébergements des logements les plus populaires */
.hotels1
{
    height: 150px;
    border: 4px white solid; 
    width: 87%;
    margin: 5px auto;

}
.hotels2
{
    height: 150px;
    border: 4px white solid;
    width: 87%;
    margin: 5px auto;
}
.hotels3
{
    height: 150px;
    border: 4px white solid;
    width: 87%;
    margin: 5px auto 25px auto;
}
/* div contenant les étoiles des logements les plus populaires */
.stars2
{
    font-size: 13px;
    padding-bottom: 3px;
}

/* Hébergements à Marseille + Les plus populaires */
.firstsection
{
    flex-direction:column-reverse;
}
/* div contenant les hébergements à Marseille + texte */
#logements 
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;
}
/* h2 Hébergement à Marseille */
#housing_title
{
    margin-top: 30px;
}
/* Première partie des hébergements à Marseille */
#housingpart1
{
    flex-direction: column;
    width: 98%;
    justify-content: center;
    margin: 0 auto;
}
/* Deuxième partie des hébergements à Marseille */
#housingpart2
{
    flex-direction: column;
    width: 98%;
    justify-content: center;
    margin: 0 auto;
}
/* Cartes d'hébergements à Marseille */
.Hosting_map1
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
   
.Hosting_map2
{
    border: 4px white solid;
    border-radius: 15px; 
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
.Hosting_map3
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
.Hosting_map4
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
.Hosting_map5
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
.Hosting_map6
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto;  
}

img.photoshébergement
{
    width:100%;
    height:140px;
}
/* Noms des hôtels */
.name
{
    font-size: 16px;
    margin: 6px 0 2px 10px;
}
.price
{
    font-size: 15px;
}
/* div contenant les étoiles des hébergements à Marseille */
.stars1
{
    display: flex;
    margin-left: 10px;
    padding-top: 3px;
    font-size: 13px;
}
.blue
{
    color:#0065FC;  
}
.gris
{
    color :#DEEBFF;
    padding-left: 2px;
}
/* texte afficher plus */
.p4
{
    font-weight: bold;
    margin-left: 30px;
    font-size: 20px;
}

/* div Activités */
#activities_section
{
    width: 100%;
}
/* h2 Activités à Marseille */
#activities_title
{
    margin-left: 20px;
}
/* div contenant toutes les photos + texte des activités à Marseille */
.loisir1
{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#activities_bloc1
{
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}
#activities_bloc2
{
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}
/* div contenant les photos grand format + le texte des activités à Marseille */
.picture
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 90%;
    height: 210px;
    margin: 0 auto;
}
img.big_activities_pictures
{
    width: 100%;
    height: 150px;
}
img.small_activities_pictures
{
    width: 100%; 
    height: 150px;
}
/* noms des activités des grandes photos */
.activities_name1
{
    font-weight: bold;
    margin-left: 15px;
    margin-top:14px;
    margin-bottom: 10px;
}
/* noms des activités des petites photos */
.activities_name2
{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 14px;
    margin-bottom: 10px;
}
/* bloc des photos petit format (2 par 2) + texte des activités à Marseille */
.part1
{
    margin: 23px auto 0 auto;
    width: 90%;
}
/* div contenant les photos petit format + le texte des activités à Marseille */
.hobbies1
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 100%;
    height: 210px;
    margin: 0 auto 25px auto; 
}
.hobbies2
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 100%;
    height: 210px;
    margin: 0 auto 25px auto; 
}
.hobbies3
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 100%;
    height: 210px;
    margin: 0 auto 25px auto; 
}
.hobbies4
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 100%;
    height: 210px;
    margin: 0 auto 25px auto;  
}

footer
{
    background-color: #F2F2F2;
    width: 100%;
    height: 500px;
}
#findepage
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    position: relative;
}
h3
{
    font-size: 20px;

}
#footer_text_1
{
    width: 100%;
    top: 20px;
    left: 30px;
    height: 70%;
    position: absolute;
    line-height: 20px;
}
#text_2
{
    margin-top: -5px;
    position: relative;

}
#footer_text_2
{
    position: absolute;
    line-height: 20px;


    width: 100%;
    left: 30px;
    top: 200px;
}
#footer_text_3
{
    position: absolute;
    line-height: 20px;

    width: 100%;
    left: 30px;
    top: 345px;
}