p
{
    font-size: 17px;
}
h1
{
    font-size: 24px;
    margin: 10px 20px;
}
h2
{
    font-size: 22px;
}
#main_wrapper
{
    min-width: 200px;
    max-width: 600px;
    font-size: 15px;
    position: relative;
}
header
{
    width: 100%;
}
.header_logo_navigation
{
    width: 100%;
    margin-bottom: 1%;
    flex-direction: column;
  
}
img#logo
{
    display: flex;
    width:25%;
    padding-left: 20px;
}
/* Menu de navigation */
nav
{ 
    width: 100%;
    flex-direction: column;
    margin-top: -55px;
}
#navigation
{
    width: 100%;
    
}
/* navigation */
.housing_navigation
{
    margin: 20px 0 10px 0;
    border-bottom: 3px solid #0065FC;
    border-top: none;
    width: 50%;
    padding-bottom: 15px;
    text-align: center;
}
/* navigation */
.activities_navigation
{
    border-bottom: 3px solid #F2F2F2;
    text-align: center;
    width: 50%;
    margin: 20px 0 10px 0;
    padding-top: 30px;
    display: inline;
}
/* navigation */
.inscription_navigation
{
    order: -1;
    justify-content: flex-end;
    margin-right: 20px;
    width: auto;    
}
#introduction_paragraph
{
    margin : 10px 20px;
}
/*div de la section de recherche*/
#contener_search
{
    width: 90%;
    margin: 30px auto 0 auto;
    position: relative;
}
/*icône de recherche*/
#contener_search_icon
{ 
    width: 55px;
    height: 55px; 
    font-size: 20px;
}
#search_field
{
    width: 100%;
}
/*Champs de recherche*/
#search_field_input
{
    width: 100%;
}
input::placeholder
{
    font-size: 4.5vw;  
}
/* Bouton de recherche*/
#button_desktop_version
{  
    display: none;
}
#button_mobile_version
{
    background-color: #0065FC;
    height: 55px;
    width: 55px;
    border : none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    right: 0;   
}
#search_icone_mobile_version
{
    text-indent: 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    left: 13px;
    top: 18px;
}
/* Div contenant les filtres */
#filter_block
{
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 12px;
}
.textfilters
{
    margin-left: 15px;
    font-size: 4.5vw;
}
.economic_filter1
{
    border-radius: 30px;
    margin: 0 0;
}
.title_filter
{
    font-size: 4.5vw;
}
.family_filter2
{
    border-radius: 30px;
    width: 35vw;
}
#filters1and2
{
    margin-left: 13px;
}
#filters3and4
{
    flex-direction: column;
    margin-left: 13px;
}
.romantic_filter3
{
    border-radius: 30px;
    width: 43vw;
    margin: 20px 0 0 0;
}
.pets_filter4
{
    border-radius: 30px;
    width: 57vw;
    margin: 20px 0;
}
.icons
{
    font-size: 15px;
    width: 11vw;
    height: 11vw;
    margin-left: -2px;
}
/* Div information */
#info_block
{
    margin: 0 10px;
}
/* icône information */
#info_icon
{
    width: 25px;
    border-radius: 70px;
    height: 20px;
    border: 1.8px #F2F2F2 solid;  
    font-size: 10px; 
    margin-top: 5px;
}
/* paragraphe info */
#info_paragraph
{
    margin: 6px 0 10px 10px;
    font-size: 17px; 
}

section
{
    width: 100%;
}
/* div contenant les hébergements les plus populaires + texte */
#popular_block
{
    border-radius: 0px;
    width: 100%;  
}
    
/*contener du h2 + icône populaires*/
#popular_header
{

}
#popular_title
{
    margin: 15px 17px 10px 0;
}
#popular_icone
{
    margin: 17px 0 10px 20px;
    font-size: 20px;
}
/* Cartes d'hébergements des logements les plus populaires */
.hotels1
{
    height: 150px;
    border: 4px white solid; 
    width: 87%;
    margin: 5px auto;

}
.hotels2
{
    height: 150px;
    border: 4px white solid;
    width: 87%;
    margin: 5px auto;
}
.hotels3
{
    height: 150px;
    border: 4px white solid;
    width: 87%;
    margin: 5px auto 25px auto;
}
/* div contenant les étoiles des logements les plus populaires */
.stars2
{
    font-size: 13px;
    padding-bottom: 3px;
}

/* Hébergements à Marseille + Les plus populaires */
.firstsection
{
    flex-direction:column-reverse;
}
/* div contenant les hébergements à Marseille + texte */
#housing_block
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;
}
/* h2 Hébergement à Marseille */
#housing_title
{
    margin-top: 30px;
}
/* Première partie des hébergements à Marseille */
#housingpart1
{
    flex-direction: column;
    width: 98%;
    justify-content: center;
    margin: 0 auto;
}
/* Deuxième partie des hébergements à Marseille */
#housingpart2
{
    flex-direction: column;
    width: 98%;
    justify-content: center;
    margin: 0 auto;
}
/* Cartes d'hébergements à Marseille */
.Hosting_map1
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
   
.Hosting_map2
{
    border: 4px white solid;
    border-radius: 15px; 
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
.Hosting_map3
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
.Hosting_map4
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
.Hosting_map5
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto; 
}
.Hosting_map6
{
    border: 4px white solid;
    border-radius: 15px;
    width: 94%;
    height: 220px;
    margin: 10px auto;  
}

img.photoshébergement
{
    width:100%;
    height:140px;
}
/* Noms des hôtels */
.name
{
    font-size: 16px;
    margin: 6px 0 2px 10px;
}
.price{
    font-size: 15px;
}
/* div contenant les étoiles des hébergements à Marseille */
.stars1{
    font-size: 13px;
}
/* texte afficher plus */
.housing_end_paragraph{
    font-size: 20px;
}

/* h2 Activités à Marseille */
#activities_title{
    margin-left: 20px;
}
/* div contenant toutes les photos + texte des activités à Marseille */
.activities_block_cards{
    flex-direction: column;
}
#activities_bloc1{
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}
#activities_bloc2{
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}
/* div contenant les photos grand format + le texte des activités à Marseille */
.large_cards{
    width: 88%;
    height: 210px;
    margin: 0 auto;
}
img.big_activities_pictures{
    height: 150px;
}
img.small_activities_pictures{
    height: 150px;
}
/* noms des activités des grandes photos */
.activities_name1{
    margin: 14px 0 10px 15px;
}
/* noms des activités des petites photos */
.activities_name2{
    margin: 14px 0 10px 15px;
}
/* bloc des photos petit format (2 par 2) + texte des activités à Marseille */
.small_cards_block{
    margin: 23px auto 0 auto;
    width: 88%;
}
/* div contenant les photos petit format + le texte des activités à Marseille */
.small_card_activitie1{ 
    width: 100%;
    height: 210px;
    margin: 0 auto 25px auto; 
}
.small_card_activitie2{
    width: 100%;
    height: 210px;
    margin: 0 auto 25px auto; 
}
.small_card_activitie3{
    width: 100%;
    height: 210px;
    margin: 0 auto 25px auto; 
}
.small_card_activitie4{ 
    width: 100%;
    height: 210px;
    margin: 0 auto 25px auto;  
}

footer{
    height: 500px;
}
#footer_block{
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    position: relative;
}
h3{
    font-size: 20px;
}
#footer_text_1
{
    width: 100%;
    height: 70%;
    line-height: 20px;
    margin: 10px 0 10px 20px;
}
#text_2
{
    position: relative;
}
#footer_text_2
{
    line-height: 20px;
    width: 100%;
    margin: 10px 0 10px 20px;
}
#footer_text_3
{
    line-height: 20px;
    width: 100%;
    margin: 10px 0 10px 20px;
}