p
{
    font-size: 4.5vw;
    font-family: 'Raleway';
}
h1
{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 115px;
    left: 10px;
    font-family: 'Raleway';
}
#introduction
{
    position: absolute;
    top: 190px;
    left: 10px;
}
h2
{
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 20px;
}
#main_wrapper
{
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    margin: auto;
    position: relative;
    font-size: 15px;
    
}
header
{
    width: 100%;
}
.header
{
    display: flex;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 1%;
}
img#logo1
{
    width:20vw;
    padding-bottom: 50%;
    padding-left: 15px;
}
/* Menu de navigation */
nav
{
    display : flex;
    margin-left: 200px;  
    flex-direction: column;
    flex-direction: row-reverse;
    width: 100%;
}
#navigation
{
    display: flex;
    width: 100%;
    margin-top: 40px;
    position: absolute;
    left: 15px;
    margin-left: -20px;
    margin-right: -20px;
}
/* navigation */
.housing
{
    color : #0065FC;
    margin-top: -7px;
    border-bottom: 2px solid #0065FC;
    border-top: none;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 31px;
    width: 50%;
   
}
#ancre
{
    text-decoration: none;
    color: #0065FC;
}
/* navigation */
.activities
{
    margin-top: 20px;

    padding-top: 5px;
    border-bottom: 3px solid #F2F2F2;
    padding-right: 51px;
    padding-left: 51px;
    position: absolute;
    left: 51%;
    padding-bottom: 8px;
    width: 50%;
}
#ancre2
{
    text-decoration: none;
    color: black;
}
/* navigation */
.inscription
{
    font-weight: bold;
    color : #0065FC;
    position: absolute;
    top: 10px;
    right: 1%;
   
}
#introduction
{
    margin-top: 0px;
}

/*div de la section de recherche*/
#contener_search
{
    display: flex;
    border-radius: 28px;
    border: 1px #F2F2F2 solid;
    height: 40px;
    width: 88vw;
    margin-left: 13px;
}
/*icône de recherche*/
#rechercher
{
    background-color: #F2F2F2;
    width: 45px;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
/*Champs de recherche*/
#rechercher1
{
    height: 20px;
    margin-left: 10px;
    margin-top: 13px;
    width: 200px;
}
input::placeholder
{
    font-weight: bold;
    color: black;
    opacity: 1;
    font-family: 'Raleway';
    font-size: 15px;
    
}
/*enlève la bordure lors du clic sur le bouton de recherche*/
input:focus
{
    outline:none;
}
/* Bouton de recherche*/
#button
{  
   display: none;
    
}
#small_button
{
    background-color: #0065FC;
    height: 40px;
    width: 40px;
    border : none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    display: flex;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right: 20px;
}
input[submit]
{
    display: none;
}
#search_icone
{
    text-indent: 0px;
    color: rgb(5, 0, 0);
    font-size: 15px;
    
    
    

}
/* Div contenant les filtres */
#filtres
{
    display : flex;
    flex-direction: column;
    padding-top: 5px;
}
.textfilters
{
    font-weight: bold;
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.filtre1
{
    font-weight: bold;
    border-radius: 30px;
    border: 2px #F2F2F2 solid;
    width: 145px;
    height: 35px;
    display: flex;
    
}
.filtre1:hover
{
    color:#0065FC;
}
#titlefilter1
{
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-weight: bold;
    font-size: 4.5vw;
}
.icônes2
{
    background-color: #DEEBFF;
    width: 36px;
    height: 35px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtre2
{
    font-weight: bold;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    width: 125px;
    height: 35px;
    display: flex;
    margin-top: 17px;
}
.filtre2:hover
{
    color:#0065FC;
}
#titlefilter2
{
    margin-bottom: 4px;
    margin-top: 7px;
    margin-left: 14px;
    font-weight: bold;
    font-size: 4.5vw;
}
#filters1and2
{
    display: flex;
    margin-left: -9px;
}
.filtre3
{
    font-weight: bold;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    width: 140px;
    height: 35px;
    display: flex;
    margin-top: 1px;
}
.filtre3:hover
{
    color:#0065FC;
}
#titlefilter3
{
    margin-bottom: 4px;
    margin-top: 7px;
    margin-left: 7px;
    font-weight: bold;
    font-size: 4.5vw;
}
.filtre4
{
    font-weight: bold;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    width: 200px;
    height: 35px;
    display: flex;
    margin-top: 5px;
}
.filtre4:hover
{
    color:#0065FC;
}
#titlefilter4
{
    margin-bottom: 4px;
    margin-top: 6px;
    margin-right: 2px;
    margin-left: 11px;
    font-weight: bold;
    font-size: 4.5vw;
}
.icônes
{
    color:#0065FC;
    background-color: #DEEBFF;
    width: 36px;
    height: 35px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtres:hover
{
    color: #a3b6d3;
    font-style: italic;
}


/* Div information */
#info
{
    display: flex;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 5px;
}
/* icône information */
#i
{
    width: 25px;
    height: 20px;
    border: 1.8px #F2F2F2 solid;  
    font-size: 10px; 
    margin-top: 3px;
}
/* paragraphe info */
#p3
{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 6px;
    font-size: 14px;
    
}

/* Hébergements à Marseille + Les plus populaires */
.firstsection
{
    display: flex;
    flex-direction:column-reverse;
    width: 100%;
    height: 2000px;
}
/* div contenant les hébergements à Marseille + texte */
#logements 
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 96%;
}
/* h2 Hébergement à Marseille */
#housing_title
{
    margin-left: 20px;
    height: 1px;
    font-size: 20px;
    padding-top: 5px;
    
}
/* Première partie des hébergements à Marseille */
#housingpart1
{
    display: flex;
    flex-direction: column;
    height: 600px; 
    margin-top: 15px;
    width: 98%;
    justify-content: center;
    margin: 0 auto;
}
/* Cartes d'hébergements à Marseille */
.Hosting_map1
{
    background-color: white;
    border: 4px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 94%;
    height: 190px;
}
   
.Hosting_map2
{
    background-color: white;
    border: 4px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 94%;
    height: 190px;

 
}
.Hosting_map3
{
    background-color: white;
    border: 4px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 94%;
    height: 190px;
  
    
}
.Hosting_map4
{
    background-color: white;
    border: 4px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 94%;
    height: 190px;
  
}
.Hosting_map5
{
    background-color: white;
    border: 4px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 94%;
    height: 190px;
   
}
.Hosting_map6
{
    background-color: white;
    border: 4px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 94%;
    height: 190px;
   
}

img.photoshébergement
{
    width:100%;
    height:100px;
}
/* Noms des hôtels */
.noms
{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}
.prix
{
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 12px;
}
/* div contenant les étoiles des hébergements à Marseille */
.stars1
{
    display: flex;
    margin-left: 10px;
    font-size: 10px;
}
/* Deuxième partie des hébergements à Marseille */
#housingpart2
{
    display: flex;
    flex-direction: column;
    height: 600px; 
    margin-top: 15px;
    margin-bottom: 7px;
    position: relative;
    top: -15px;
    width: 98%;
    justify-content: center;
    margin: 0 auto;
}
/* texte afficher plus */
.p4
{
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 15px;
    position: relative;
    top: -10px;
}


/* div contenant les hébergements les plus populaires + texte */
#populaires
{
    border-radius: 0px;
    background-color: #F2F2F2;
    width: 100%;  
    height:630px;
    position: relative;
    left: 0px;
}
    
/*contener du h2 + icône populaires*/
#texte
{
    
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 10%;
}
/* h2 "les plus populaires" */
#pop
{
    margin: 15px;
    font-size: 20px;
}
#icônepopulaires
{
    margin-top: 15px;
    position: absolute;
    right: 30px;
    font-size: 20px;
}
/* Cartes d'hébergements des logements les plus populaires */
.hotels1
{
    width: 82%;
    height: 110px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    border: 4px white solid;
    display: flex;
    position: absolute; 
    right: 25px;  
    top: 15%;
}
.hotels2
{
    width: 82%;
    height: 110px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    border: 4px white solid;
    display: flex;
    position: absolute; 
    right: 25px;  
    bottom: 160px;
}
.hotels3
{
    width: 82%;
    height: 110px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    border: 4px white solid;
    display: flex;
    position: absolute; 
    right: 25px;  
    bottom: 30px;
}
img.photospopulaires
{
    width:110px;
    height:110px;
}
.textehotel
{
    padding-top: 7px;
    position: absolute;
    left: 45%;
}
/* div contenant les étoiles des logements les plus populaires */
.stars2
{
    display: flex;
    padding-top: 27px;
    padding-left: 7px;
    font-size: 10px;
}

/* div Activités */
#loisir
{
    position: absolute;
    top: 2400px;
    width: 100%;
    margin-right: 5px;
    height: 1600px;
}
/* h2 Activités à Marseille */
#activités
{
    font-size: 25px;
}
/* div contenant toutes les photos + texte des activités à Marseille */
.loisir1
{
    display: flex;
    margin-right: 10px;
    width: 100%;
    flex-direction: column;
}
/* div contenant les photos grand format + le texte des activités à Marseille */
.picture
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 280px;
    height: 160px;
    margin-left: 15px;
}
img.photosactivitésgrandes
{
    width: 280px;
    height: 120px;
}
img.photosactivitéspetites
{
    width: 280px; 
    height: 120px;
}
/* noms des activités des grandes photos */
.nomsactivités1
{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
}
/* noms des activités des petites photos */
.nomsactivités2
{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 10px;
}
/* bloc des photos petit format (2 par 2) + texte des activités à Marseille */
.part1
{
    margin-left: 15px;
    margin-top: 23px;
   
}
/* div contenant les photos petit format + le texte des activités à Marseille */
.hobbies
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 280px;
    height: 160px;
    margin-bottom: 25px;  
    
}

footer
{
    background-color: #F2F2F2;
    width: 100%;
    position: absolute;
    top: 3560px;
    height: 450px;
}
#findepage
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    height: 100%;
    position: relative;
}
h3
{
    font-size: 15px;

}
#àpropos
{
    width: 100%;
    top: 20px;
    left: 30px;

}
#héberg
{
    width: 100%;
    left: 30px;
    top: 180px;
}
#assistance
{
    width: 100%;
    left: 30px;
    top: 305px;
}