@font-face
{
    font-family: 'Raleway';
    src : url('static/Raleway-Black.ttf');
          
}

p h1 h2 h3
{
    font-family: 'Raleway', sans-serif;
}
h1
{
    font-size: 25px;
}
h2
{
    margin-left: 10px;
}

/* Noms des lieux à visiter dans Activités à Marseille */
p2
{
    font-weight: bold;
}

/* texte afficher plus */
.p4
{
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 90px;
}
.header
{
    display: flex;
}
.logo
{
  margin-right: 700px;
}

/* Menu de navigation */
nav
{
    display : flex;
    margin-left: 200px;  
}

/* navigation */
.hébergements
{
    color : #0065FC;
    margin-top: 20px;
    margin-right: 20px;
}

/* navigation */
.activités
{
    margin-top: 20px;
    margin-right: 20px;
}

/* navigation */
.inscription
{
    font-weight: bold;
    color : #0065FC;
    margin-top: 20px;
    margin-right: 20px;
}

h1, h2
{
    font-weight: bold;
}
#recherche
{
    display: flex;
    border-radius: 40px;
    border: 1px #F2F2F2 solid;
    height: 30px;
    width: 310px;
}

/*icône de recherche*/
#rechercher
{
    background-color: #F2F2F2;
    width: 35px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    
}

/*Champs de recherche*/
#rechercher1
{
    font-weight: bold;
    color: black;
    height: 20px;
    border: none;
    margin-left: 10px;
    margin-top: 5px;
}

/* Bouton de recherche*/
#bouton1
    {  
        background-color: #0065FC;
        height: 30px;
        width: 100px;
        border : none;
        border-radius: 30px;
        color: white;
    }

/* Div contenant les filtres */
#filtres
{
    display : flex;
}
.filtre0
{
    font-weight: bold;
    margin-top: 25px;
}
.filtre1
{
    font-weight: bold;
    border-radius: 30px;
    border: 1px #F2F2F2 solid;
    width: 130px;
    height: 30px;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
#éco
{
    margin-bottom: 4px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 5px;
}
.filtre2
{
    font-weight: bold;
    border-radius: 20px;
    border: 1px #F2F2F2 solid;
    width: 110px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
#familial
{
    margin-bottom: 4px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 5px;
}
.filtre3
{
    font-weight: bold;
    border-radius: 20px;
    border: 1px #F2F2F2 solid;
    width: 130px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
#romantique
{
    margin-bottom: 4px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 5px;
}
.filtre4
{
    font-weight: bold;
    border-radius: 20px;
    border: 1px #F2F2F2 solid;
    width: 190px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}
#animaux
{
    margin-bottom: 4px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 11px;
}
.icônes
{
    color:blue;
    background-color: #DEEBFF;
    width: 31px;
    height: 25px;
    border-radius: 80px;
    text-align: center;
    margin: center;
    padding-top: 4px;
}
.filtres:hover
{
    color: #a3b6d3;
    font-style: italic;
}
#info
{
    display: flex;
}

/* Div contenant l'icône information */
#i
{
    color:blue;
    width: 30px;
    height: 30px;
    border-radius: 80px;
    border: 1px #F2F2F2 solid;
    text-align: center;
    
}

/* paragraphe de l'icône info */
#p3
{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 6px;
}

/* div contenant les étoiles des logements les plus populaires */
.étoile
{
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
}

/* div contenant les étoiles des hébergements à Marseille */
.étoile1
{
    display: flex;
    margin-left: 10px;
}
.blue
{
    color:blue;
    
}
.gris
{
    color :#DEEBFF;
}

/* Noms des hôtels */
.noms
{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.prix
{
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 4px;
}

/* Hébergements à Marseille + Les plus populaires */
.section1
{
    display: flex;
    
}


/* h2 Hébergement à Marseille */
#Hébergements
{
    margin-left: 20px;
    height: 1px;
    font-size: 25px;
}

/* div contenant les hébergements à Marseille + texte */
#logements 
{
    background-color: #F2F2F2;
    border-radius: 15px;
    margin: 10px;
    height: 580px;
    width: 850px;
}

/* div contenant les hébergements les plus populaires + texte */
#populaires
{
    background-color: #F2F2F2;
    border-radius: 15px;
    height: 580px;
    margin-top: 10px;
    margin-bottom: 300px; 
    width: 440px; 
    margin-left: 25px;
    margin-right: 10px;
}

#texte
{
    display: flex;
}

#icônepopulaires
{
    margin-left: 150px;
    margin-top: 20px;
}
/* h2 "les plus populaires" */
#pop
{
    margin: 10px;
    font-size: 25px;
}

/* Première partie des hébergements à Marseille */
#partie1
{
    display: flex;
    height: 200px; 
    margin-top: 50px;
}

/* Deuxième partie des hébergements à Marseille */
#partie2
{
    display: flex;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Cartes d'hébergements à Marseille */
.hotels
{
    background-color: white;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 6px 6px 10px rgb(209, 209, 209);  
    width: 250px;
    height: 190px;
    overflow: hidden;
    margin: 15px; 
}

/* Contener de toutes les cartes d'hébergements des logements les plus populaires */
#contenercartespopulaires
{
    margin-bottom: 10px;
    margin-top: 20px;
}
/* Cartes d'hébergements des logements les plus populaires */
.hotels2
{
    width: 360px;
    height: 140px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    border: 3px white solid;
    margin: 30px;
    display: flex;
}

/* div contenant les photos grand format + le texte des activités à Marseille */
.picture
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    height: 385px;
    margin-left: 30px;
}

/* div contenant les photos petit format + le texte des activités à Marseille */
.loisir
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    height: 180px;
    margin-bottom: 25px;
    
}

/* div contenant toutes les photos + texte des activités à Marseille */
.loisir1
{
    display: flex;
}

/* bloc des photos petit format (2 par 2) + texte des activités à Marseille */
.part1
{
    margin-left: 30px;
}

/* noms des activités des grandes photos */
.noms2
{
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* noms des activités des petites photos */
.noms3
{
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 10px;
}

footer
{
    background-color: #F2F2F2;
    display: flex;
    margin-bottom: 50px;
}

h3
{
    font-weight: bold;
}
#àpropos
{
    margin-left: 30px;
}

#héberg
{
    margin-left: 200px;
}

#assistance
{
    margin-left: 400px;
}