body
{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    position: relative;
    margin:0px;
}
p
{
    font-size: 1.1vw;
    font-weight: 500;
}
h1
{
    font-size: 1.5vw;
    font-weight: bold;
}
h2
{
    margin-left: 10px;
    font-weight: bold;
}
h3{
    font-size: 14px;
}
#main_wrapper
{
    width: 96%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.header
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20px;
}
img#logo1
{
    width:7vw;
    height: 50px;
}
/* Menu de navigation */
nav
{
    display : flex;
    margin-left: 200px;  
}
#navigation
{
    display: flex;
}
/* navigation */
.housing
{
    color : #0065FC;
    margin-top: -7px;
    margin-right: 40px;
    border-top: 1.5px solid #0065FC;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
#ancre
{
    text-decoration: none;
    color: #0065FC;
}
/* navigation */
.activities
{
    margin-top: 20px;
    margin-right: 43px;
    padding-top: 5px;
}
#ancre2
{
    text-decoration: none;
    color: black;
}
/* navigation */
.inscription
{
    font-weight: bold;
    color : #0065FC;
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 5px;
}

/*div de la section de recherche*/
#contener_search
{
    display: flex;
    border-radius: 28px;
    border: 1px #F2F2F2 solid;
    height: 33px;
    width: 330px;
}
/*icône de recherche*/
#rechercher
{
    background-color: #F2F2F2;
    width: 40px;
    height: 33px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
/*Champs de recherche*/
#rechercher1
{
    height: 20px;
    border: none;
    margin-left: 10px;
    margin-top: 5px;
}
input::placeholder
{
    font-weight: bold;
    color: black;
    opacity: 1;
    font-family: 'Raleway';
    font-size: 13px;
}
/*enlève la bordure lors du clic sur le bouton de recherche*/
input:focus
{
    outline:none;
}
/* Bouton de recherche*/
#button
{  
    background-color: #0065FC;
    height: 33px;
    width: 100px;
    border : none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    position: relative;
    left: 40px;
}
#small_button
{
    display: none;
}
#search_icone
{
    text-indent: -9999px;
    position: relative;
    right: 20px;
}

/* Div contenant les filtres */
#filtres
{
    display : flex;
    padding-top: 5px;
}
.textfilters
{
    font-weight: bold;
    margin-top: 25px;
}
.filtre1
{
    font-weight: bold;
    border-radius: 30px;
    border: 2px #F2F2F2 solid;
    width: 145px;
    height: 30px;
    display: flex;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-right: 10px;
 
}
.filtre1:hover
{
    color:#0065FC;
}
#titlefilter1
{
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-weight: bold;
    font-size: 13px;
}
.filtre2
{
    font-weight: bold;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    width: 125px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.filtre2:hover
{
    color:#0065FC;
}
#titlefilter2
{
    margin-bottom: 4px;
    margin-top: 7px;
    margin-left: 14px;
    font-weight: bold;
    font-size: 13px;
}
#filters1and2
{
    display: flex;
}
.filtre3
{
    font-weight: bold;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    width: 145px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.filtre3:hover
{
    color:#0065FC;
}
#titlefilter3
{
    margin-bottom: 4px;
    margin-top: 7px;
    margin-left: 7px;
    font-weight: bold;
    font-size: 13px;
}
.filtre4
{
    font-weight: bold;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    width: 200px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.filtre4:hover
{
    color:#0065FC;
}
#titlefilter4
{
    margin-top: 9px;
    margin-left: 18px;
    font-weight: bold;
    font-size: 13px;
}
.icones
{
    color:#0065FC;
    background-color: #DEEBFF;
    width: 31px;
    height: 30px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

/* Div information */
#info
{
    display: flex;
    padding-bottom: 15px;
    padding-top: 5px;
}
/* icône information */
#i
{
    color:#0065FC;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    border: 1px #F2F2F2 solid;
    display: flex;
    align-items: center;
    justify-content: center;   
    font-size: 11px;
    
}
/* paragraphe info */
#p3
{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 6px;
}


/* Hébergements à Marseille + Les plus populaires */
.firstsection
{
    display: flex;
    width: 98%;
    position: relative;
    margin: 0 -5px;
    height: 500px;
}
/* div contenant les hébergements à Marseille + texte */
#logements 
{
    background-color: #F2F2F2;
    border-radius: 15px;
    height: 95%;
    width: 68%;
    margin: 0 5px;
}
/* h2 Hébergement à Marseille */
#housing_title
{
    margin-left: 20px;
    height: 1px;
    font-size: 18px;
    padding-top: 5px;
}
/* Première partie des hébergements à Marseille */
#housingpart1
{
    display: flex;
    height: 170px; 
    margin-top: 40px;
}
/* Cartes d'hébergements à Marseille */
.Hosting_map1
{
    background-color: white;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 280px;
    height: 155px;
    overflow: hidden;
    margin: 10px; 
}
.Hosting_map2
{
    background-color: white;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 285px;
    height: 155px;
    overflow: hidden;
    margin: 10px; 
}
.Hosting_map3
{
    background-color: white;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 285px;
    height: 155px;
    overflow: hidden;
    margin: 10px; 
}
.Hosting_map4
{
    background-color: white;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 285px;
    height: 155px;
    overflow: hidden;
    margin: 10px; 
}
.Hosting_map5
{
    background-color: white;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 285px;
    height: 155px;
    overflow: hidden;
    margin: 10px; 
}
.Hosting_map6
{
    background-color: white;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 285px;
    height: 155px;
    overflow: hidden;
    margin: 10px; 
}
img.photoshébergement
{
    width:250px;
    height:95px;
}
/* Noms des hôtels */
.name
{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.price
{
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 11px;
    
}
/* div contenant les étoiles des hébergements à Marseille */
.stars1
{
    display: flex;
    margin-left: 10px;
    font-size: 11px;
    padding-top: 3px;
}
.blue
{
    color:#0065FC;  
}
.gris
{
    color :#DEEBFF;
}
/* Deuxième partie des hébergements à Marseille */
#housingpart2
{
    display: flex;
    height: 150px;
    margin-top: 10px;
}
/* texte afficher plus */
.p4
{
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 45px;
}


/* div contenant les hébergements les plus populaires + texte */
#populaires
{
    background-color: #F2F2F2;
    border-radius: 15px;
    height: 95%;
    width: 36%; 
    position: relative;
    left: 30px;   
}
/*contener du h2 + icône populaires*/
#texte
{
    display: flex;
    padding-left: 5px;
    padding-right: 10px;
    height: 20%;
    padding-top: 10px;
}
/* h2 "les plus populaires" */
#popular_title
{
    margin: 15px;
    font-size: 18px;
}
#icônepopulaires
{
    
    margin-top: 15px;
    position: absolute;
    right: 30px;
    font-size: 20px;
}
/* Cartes d'hébergements des logements les plus populaires */
.hotels1
{
    width: 82%;
    height: 21%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    border: 3px white solid;
    display: flex;
    position: absolute; 
    right: 30px;  
    top: 15%;
}
.hotels2
{
    width: 82%;
    height: 21%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    border: 3px white solid;
    display: flex;
    position: absolute; 
    right: 30px;  
    bottom: 33%;
}
.hotels3
{
    width: 82%;
    height: 21%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    border: 3px white solid;
    display: flex;
    position: absolute; 
    right: 30px;  
    bottom: 5%;
}
img.photospopulaires
{
    width:90px;
    height:140px;
}
.textehotel
{
    padding-top: 7px;
}
/* div contenant les étoiles des logements les plus populaires */
.stars2
{
    display: flex;
    padding-top: 27px;
    padding-left: 9px;
    font-size: 11px;
}

/* div Activités */
#loisir
{
    position: absolute;
    top: 780px;
    width: 98%;
    height: 500px;
    margin-right: 5px;
    padding-top: 30px;
}
/* h2 Activités à Marseille */
#activities_title
{
    font-size: 18px;
}
/* div contenant toutes les photos + texte des activités à Marseille */
.loisir1
{
    display: flex;
    margin-right: 10px;
    width: 98%;
}
/* div contenant les photos grand format + le texte des activités à Marseille */
.picture
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    height: 330px;
    margin-left: 30px;
}
img.photosactivitésgrandes
{
    width: 290px; 
    height: 280px;
}
img.photosactivitéspetites
{
    width: 300px; 
    height: 100px;
}
/* noms des activités des grandes photos */
.nomsactivités1
{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 10px;
}
/* noms des activités des petites photos */
.nomsactivités2
{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 10px;
}
/* bloc des photos petit format (2 par 2) + texte des activités à Marseille */
.part1
{
    margin-left: 30px;
    width: 23%;
}
/* div contenant les photos petit format + le texte des activités à Marseille */
.hobbies
{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    height: 145px;
    margin-bottom: 25px;  
}

footer
{
    background-color: #F2F2F2;
    width: 100%;
    position: absolute;
    top: 1250px;
    height: 140px;
}
#findepage
{
    
    display: flex;
    width: 100%;
    margin-top: 10px;
    height: 85%;
    position: relative;
}
h3
{
    font-weight: bold;
}
#àpropos
{
    height: 70%;
    position: absolute;
    left: 3%;
    line-height: 20px;
}
#héberg
{
    position: absolute;
    left: 34%;
    line-height: 20px;
}
#assistance
{
    position: absolute;
    left: 65%;
    line-height: 20px;
}
