

body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    position: relative;
    margin:0px;
}
p{
    font-size: 13px;
    font-weight: 500;
    cursor: default;
    text-decoration: none;
}
h1{
    font-size: 18px;
    font-weight: bold;
    cursor: default;
}
h2{
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    cursor: default;
}
h3{
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}
#main_wrapper{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
header{
    width:96%;
    margin: 10px auto;
}
img#logo{
    width:100px;
    height: 50px;
}
#logo_container{
    width: 65%;
}
/* Menu de navigation */
nav{
    justify-content: space-between;
    margin: 20px auto;
    display: flex;
}
.navigation{
    padding: 30px 15px 0 15px;
    margin-top: -13px;
    display: block;
    font-size: 13px;
}
.inscription_navigation{
    font-weight: bold;
    padding: 30px 15px 0 15px;
    margin-top: -13px;
    font-size: 13px;
}
.ancre{
    text-decoration: none;
    color: #000000;
}
.ancre:hover{
    color: #0065FC;
}
.navigation:hover{
    border-top: 1.5px solid #0065FC;
    padding: 30px 15px 0 15px;
    display: block;
}

#contener_search{
    display: flex;
    border-radius: 28px;
    border: 1.3px #F2F2F2 solid;
    width: 330px;
}
/*icône de recherche*/
#contener_search_icon{
    background-color: #F2F2F2;
    width: 45px;
    height: 45px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
/*Champs de recherche*/
#search_field{
    display: flex;
    height: 98%;
    margin: auto;
}
#search_field_input{
    border: none;
    margin-left: 15px;
   
}
input::placeholder{
    font-weight: bold;
    color: black;
    opacity: 1;
    font-family: 'Raleway';
    font-size: 15px;
}
input:focus{
    outline:none;
}
input[type="text"]
{
    font-size:15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
/* Bouton de recherche*/
#button_desktop_version{  
    background-color: #0065FC;
    height: 45px;
    width: 100px;
    border : none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    position: relative;
    left: 40px;
    cursor: pointer;
}
#button_mobile_version{
    display: none;
}
#search_icone_mobile_version{
    display: none;
}

/* Div contenant les filtres */
#filter_block{
    display : flex;
    margin: 30px 0 15px 0;
}
.textfilters{
    font-weight: bold;
    font-size: 13px;
    margin-left: 5px;
}
.filters{
    font-weight: bold;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
    display: flex;
    margin-left: 15px;
    cursor: pointer;
}
.economic_filter1{
    margin-left: 25px;
    margin-right: 10px;
}
.filters:hover{
    color:#0065FC;
    border: 2px #eaf2ff solid;
}
.title_filter{
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin : 0 12px;
    cursor: pointer;
}
.family_filter2{
    margin-right: 10px;
}
#filters1and2{
    display: flex;
}
#filters3and4{
    display: flex;
}
.romantic_filter3{
    margin-right: 10px;
}
.icons{
    color:#0065FC;
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-left: -3px;
}

/* Div information */
#info_block{
    display: flex;
    padding-top: 5px;
}
/* icône information */
#info_icon{
    color:#0065FC;
    width: 25px;
    height: 25px;
    border-radius: 70px;
    border: 1px #F2F2F2 solid;
    display: flex;
    align-items: center;
    justify-content: center;   
    font-size: 11px; 
}
/* paragraphe info */
#info_paragraph{
    margin: 6px 0 10px 10px;
}

#housing_section{
    width: 64%;
    margin: 0 auto;
}
#popular_section{
    width: 30%;
    display: flex;
    margin: 0 auto;
}
#firstsection{
    display: flex;
    position: relative;
    height: 560px;
}

/* div contenant les hébergements à Marseille + texte */
#housing_block{
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-right: 25px;
    width: 100%;
    display: flex;
    position: relative;
    height: 530px;
    flex-direction: column;
}
/* h2 Hébergement à Marseille */
#housing_title{
    margin-left: 20px;
    padding-top: 5px;
}
.housing_card{
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
}
/* Cartes d'hébergements à Marseille */
.Hosting_map{
    background-color: white;
    border: 3px white solid;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    width: 30%;
    height: 170px;
    overflow: hidden;
    margin: 10px 7px; 
    cursor: pointer;
}
.Hosting_map:hover{
    border: 3px #F2F2F2 solid;
}
img.photoshébergement{
    width:100%;
    height:105px;
}
/* Noms des hôtels */
.name{
    font-weight: bold;
    margin: 4px 2px 0 10px;
}
.price{
    font-size: 12px;
    margin: 4px 0 4px 10px;
}
/* div contenant les étoiles des hébergements à Marseille */
.housing_stars{
    display: flex;
    margin-left: 10px;
    font-size: 11px;
    padding-top: 3px;
}
.blue_stars{
    color:#0065FC;  
}
.grey_stars{
    color :#DEEBFF;
    padding-left: 2px;
}

/* texte afficher plus */
.housing_end_paragraph{
    font-weight: bold;
    margin: 20px 0 30px 30px;
}

/* div contenant les hébergements les plus populaires + texte */
#popular_block{
    background-color: #F2F2F2;
    border-radius: 15px;
    height: 530px;
    width: 100%;
}
/*contener du h2 + icône populaires*/
#popular_header{
    display: flex;
    justify-content: space-between;
    margin: 7px 30px 5px 20px;
}
#popular_icone{
    margin-top: 15px;
    font-size: 18px;
}
#most_popular{
    width: 85%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}
/* Cartes d'hébergements des logements les plus populaires */
.popular_hotel{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    border: 3px white solid;
    display: flex;
    height: 25%;
}
.popular_hotel:hover{
    border: 3px #F2F2F2 solid;
}
.popular_hotel a{
    height: 100%;
}
img.photospopulaires{
    width:120px;
    height:100%;
}
.textehotel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 10px 3px 7px;
}
/* div contenant les étoiles des logements les plus populaires */
.stars2{
    display: flex;
    padding-left: 10px;
    font-size: 11px;
    margin-bottom: 3px;
}

/* div Activités */
#activities_block{
    width: 96%;
    margin: 35px auto;
}
/* div contenant toutes les photos + texte des activités à Marseille */
.activities_block_cards{
    display: flex;
    margin: 0 auto;
    width: 100%;  
}
.activities_container{
    display: flex;
    width: 50%;
    margin-right: 30px;
    height: 100%;
}
.activities_block2{
    margin-right: 0;
}
/* div contenant les photos grand format + le texte des activités à Marseille */
.large_cards{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    height: 100%;
    width: 48%;
}
.large_cards:hover{
    border: 1px #d3d1d1 solid;
}
/* bloc des photos petit format (2 par 2) + texte des activités à Marseille */
.small_cards_block{
    margin-left: 30px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* div contenant les photos petit format + le texte des activités à Marseille */
.small_cards{
    border: 1px #F2F2F2 solid;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);  
    height: 47%;
}
.small_cards:hover{
    border: 1px #d3d1d1 solid;
}
.small_card_activitie1{
    height: 52%;
}
.small_card_activitie2{
    height: 42%;   
}
img.big_activities_pictures{
    width: 100%; 
    height: 350px;
}
img.small_activities_pictures{
    width: 100%; 
    height: 135px;
}
img.Fort_de_Pomegue{
    height: 155px;
}
img.Iles_du_Frioul{
    height: 120px;
}
/* noms des activités des grandes photos */
.activities_name1{
    font-weight: bold;
    margin-left: 15px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
/* noms des activités des petites photos */
.activities_name2{
    font-weight: bold;
    margin-left: 15px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

footer{
    background-color: #F2F2F2;
    width: 100%;
}
#footer_block{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 10px 20px 0 30px;
}
.footer_text_block{
    line-height: 20px;
}
.footer_text{
    cursor: pointer;
}
.text_2{
    margin-top: -5px;
}
.text_3{
    margin-top: -5px;
}

.text_5{
    margin-top: -5px;
}

