.firstsection
    {
        flex-direction: column;
        margin: 0 auto;
    }
    #logements
    {
        width: 100%;
    }
    #most_popular
    {
        width: 100%;
        display: flex;
    }
    #populaire
    {
        height: 500px;
        width: 100%;
    }
    #loisir
    {
        
    }
    .hotels1
    {
        width: 250px;
        height: 185px;
    }
    .hotels2
    {
        width: 250px;
        height: 185px;
    }
    .hotels3
    {
        width: 250px;
        height: 185px;
    }