#filter_block{
    flex-direction: column;
    margin: 15px 0;
}
.economic_filter1{
    margin: 20px 10px 0 0;
}
.family_filter2{
    margin-top: 20px;
}
.romantic_filter3{
    margin: 20px 10px 0 0;
}
.pets_filter4{
    margin-top: 20px;
}

.firstsection{
    flex-direction: column;
    margin: 0 auto;
}
#housing_block{
    width: 100%;
    margin: 0 auto;
}
.housing_card{
    width: 100%;
    justify-content: space-around;
    margin: 0;
}
.housing_end_paragraph{
    font-size: 14px;
}   

#most_popular{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#popular_block{
    width: 100%;
    margin: 20px auto;
}
.textehotel{
    padding: 0px 10px 2px 15px;
    height: 100%;
}
.textehotel .name br{
    display: none;
}
.textehotel .name br{
    display: none;
}
.stars2{
    padding-top: 3px;
}
.popular_hotel{
    width: 27%;
    height: 190px;
    position: static;
    flex-direction: column;
    margin-bottom: 30px;
}
.popular_hotel a{
    width: 100%;
    height: 60%;
}
img.photospopulaires{
    width:100%;
    height:100%;
}
.textehotel{
    margin-left: -15px;
}

#activities_section{
    width: 100%;
}
.small_cards_block{
    width: 68%;
    flex-direction: row;
    margin-left: 15px;
}
.activities_block_cards{
    flex-direction: column;
}
.large_cards{
    width: 32%;
    height: 175px;
}
.small_card_activitie1{
    width: 50%;
    height: 175px;
}
.small_card_activitie2{
    width: 50%;
    height: 175px;
    margin-left: 15px;
}
.small_card_activitie3{
    width: 50%;
    height: 175px;
}
.small_card_activitie4{
    width: 50%;
    height: 175px;
    margin-left: 15px;
}
.activities_block{
    width: 100%;
    margin: 10px auto;
    justify-content: space-between;
}
img.small_activities_pictures{
    height: 130px;
}
img.big_activities_pictures{
    height: 130px;
}
