#filter_block{
    margin: 25px 0;
    flex-wrap: wrap;
}
.filters{
    margin-bottom: 10px;
}
#filters_container{
    display: flex;
    flex-wrap: wrap;
   }
#housing_section{
    width: 96%;
    margin: 0 auto;
    float: none;
    height: auto;
}
#popular_section{
    width: 96%;
    margin: 0 auto;
    float: none;
    height: auto;
}
#firstsection{
    flex-direction: column;
    margin: 0 auto;
}
#housing_block{
    width: 100%;
    margin: 0 auto;
}
.housing_card{
    width: 100%;
    justify-content: space-around;
    margin: 0;
}
.housing_end_paragraph{
    font-size: 14px;
}   

#most_popular{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#popular_block{
    width: 100%;
    margin: 20px auto;
    height: auto;
}
.textehotel{
    padding: 0px 10px 2px 15px;
    height: 100%;
}
.textehotel .name br{
    display: none;
}
.textehotel .name br{
    display: none;
}
.stars2{
    padding-top: 3px;
}
.popular_hotel{
    width: 30%;
    height: 200px;
    position: static;
    flex-direction: column;
    margin-bottom: 30px;
}
.popular_hotel a{
    width: 100%;
}
.price{
    font-size:11px;
}
.ancre_popular_cards{
    flex-direction: column;
    height: 100%;
}
img.photospopulaires{
    width:100%;
    height:120px;
}
.textehotel{
    margin-left: -15px;
    margin-top: 4px;
}
#activities_section{
    width: 96%;
    margin: 10px auto;
}
#activities_block{
    width: 100%;
}
.small_cards_block{
    width: 68%;
    flex-direction: row;
    margin-left: 15px;
}
.activities_block_cards{
    flex-direction: column;
}
.large_cards{
    width: 32%;
    height: 175px;
}
.small_card_activitie1{
    width: 50%;
    height: 175px;
}
.small_card_activitie2{
    width: 50%;
    height: 175px;
    margin-left: 15px;
}
.small_card_activitie3{
    width: 50%;
    height: 175px;
}
.small_card_activitie4{
    width: 50%;
    height: 175px;
    margin-left: 15px;
}
.activities_container{
    width: 100%;
    margin: 10px auto;
    justify-content: space-between;
}
img.small_activities_pictures{
    height: 130px;
}
img.big_activities_pictures{
    height: 130px;
}
.activities_name1{
    font-size: 12px;
}
.activities_name2{
    font-size: 12px;
}

